# Razorpay Configuration
# Get your keys from: https://dashboard.razorpay.com/app/keys
RAZORPAY_KEY_ID=rzp_live_Sea6AmQNFa21tQ
RAZORPAY_KEY_SECRET=iG6vS62P4wQ7mIYc81yMcw95

# Optional: MongoDB Configuration (if not using local)
# MONGODB_URI=mongodb://username:password@host:port/database

# Server Port (default: 5000)
PORT=5000
